<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>PredStocks | Prediction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/arial.js"></script>
<script type="text/javascript" src="js/cuf_run.js"></script>
<script type="text/javascript" src="js/new 2.js"></script>
</head>
<body>



    <div class="header">
    <div class="logo">
      <h1><a href="#"><span>Pred</span>Stocks<br><small>One stop solution to smart prediction !</small></a></h1>
    </div>
    <div class="menu_nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="support.html">Prediction</a></li>
        
        <li class="active"><a href="blog.html">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="hbg"><img src="header.jpeg" width="970" height="366" alt="" class="fl" />
      
      
    </div>
    <div class="clr"></div>
  </div>
<div class = "content">  
<div class="sidebar">
      <div class="gadget">
        <div class="search">
          <form method="get" id="search" action="#">
            <span>
            <input type="text" value="Search..." name="s" id="s" />
            <input name="searchsubmit" type="image" src="search.gif" value="Go" id="searchsubmit" class="btn"  />
			
            </span>
          </form>
          <!--/searchform -->
          <div class="clr"></div>
        </div>
      </div>
      <div class="gadget">
        <h2 class="star">Trending</h2>
		<marquee behavior="scroll" direction="down" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()"> <a href="https://quotes.wsj.com/html/">Amazon Makes the High-Performance 7-Mic Voice Processing Technology from Amazon Echo Available to Third-Party Device Ma </a> </marquee>

        <div class="clr"></div>
        
      </div>
      
</div>
 <p>
 
 
 
 
 
 
 
 
 </p>
 <center><label><font size ="10">Predicted Price:</label><input type="text" id="price" name="price" size="10" maxlength="10" /><br /></font> </center>

  <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
  <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
  <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
  <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>



	
    <div class="clr"></div>
  </div>
</div>  
 <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="image2.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="image3.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="image4.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="image5.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="image6.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="image7.jpg" width="58" height="58" alt="" /></a> </div>
      
      <div class="col c3">
        <h2><span>About Us</span></h2>
		
        The stock market can be a confusing place for the average investor. But you don't need to be a hedge-fund manager or a billionaire to beat Wall Street at its own game. 
        We seek to help the ordinary individual investor make intelligent investments by providing information that gives you an edge. 
        PredStocks uses state of the art software to predict stock prices and generate trading "Buy-Sell" signals that will help you make your decision.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
 
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
      <p class="rf">Prediction using Machine Learning </p>
      <div class="clr"></div>
    </div>
  </div>
</div>
<div align=center>We Predict the Future </div></body>
</html>
