
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}

<title>PredStocks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'realtime/css/style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="realtime/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="realtime/js/script.js"></script>
<script type="text/javascript" src="realtime/js/cufon-yui.js"></script>
<script type="text/javascript" src="realtime/js/arial.js"></script>
<script type="text/javascript" src="realtime/js/cuf_run.js"></script>
</head>
<body>
<a href="{% url 'news4' %}"> </a>

    <div class="header">
    <div class="logo">
      <h1><a href="#"><span>Pred</span>Stocks<br><small>One stop solution to smart prediction !</small></a></h1>
    </div>
    <div class="menu_nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="prediction.html">Prediction</a></li>
        
        <li class="active"><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="hbg"><img src="{% static 'realtime/img/header.jpeg' %}" width="970" height="366" alt="" class="fl" />
      
      
    </div>
    <div class="clr"></div>
  </div>
  <div class="content">
    <div class="mainbar">
      <div class="article">
        <h2>What Fiancial Markets can teach us about managing Climate Risks</h2>
        <div class="clr"></div>
        <p>Article from <a href="#">The New York Times</a> </p>
        <p>Say an investor had only two alternatives of what to place income in: gold or stocks. 
    Gold has an typical annual rate of return of three %, even though the stock market place delivers a healthier 5 %. 
    Which must the investor select? Seems straightforward, proper? 
    Take the larger payout.
    But annual averages can be deceiving. In fact, these two have really distinct risk profiles over time. 
    Stocks have a tendency to pay off steadily in good instances when the economy is expanding and we are comparatively flush, 
    but to decline in bad times. Gold may spend off next to nothing for years at a time and present genuine chance costs, 
    but it delivers handsomely throughout unexpected economic crises.</p> 
    <p>Investing in gold is a type of insurance policy against tough occasions. 
    Monetary markets are revealing that investors are willing to accept a reduce typical return for that insurance coverage, 
    precisely due to the fact it helps to manage threat.Last week, President Trump signed an executive order about climate 
    adjust that runs counter to this insight from economic markets. The headlines rightly highlighted the dismantling of 
    climate policies like the Clean Energy Plan. But buried in the details is an administrative tweak to the most 
    critical climate measurement in the federal government’s climate toolbox: the social expense of carbon.
    The social price of carbon, the estimated monetary damages triggered by the release of an added ton of carbon dioxide into the atmosphere, 
    is the linchpin for how the federal government values climate damages. It drives the expense-positive aspects analyses that 
    have determined the stringency of such things as fuel economy standards and the Clean Energy Program.
    Prior to the executive order, the social price of carbon was set at about $ 40 per metric ton of carbon released. 
    Below the executive order, President Trump seems to be placing us on a path toward valuing climate damages at considerably less — 
    possibly less than $ 5 per metric ton of carbon.
    </p>
        
      </div>
      <div class="article">
        <h2><span></span> Comments</h2>
        <div class="clr"></div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Eric Pfeiffer</a> Says:<br />
            April 20th, 2017 at 2:17 pm</p>
          <p>Let's dissect this...
That 2.9% annualized. Subtract 2% inflation leaving a 0.9% net gain. This is
an ETF so there is a percent fee. If it is 0.9% or greater, you have a net
loss holding this. 
   Now, if you redirect your holdings managing your own holdings, substituting
utilities and telecoms with an average yield of 4.2% and no fees,  suddenly
you have a strong net positive return.
   HMMMM.</p>
        </div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Philip van Doorn</a> Says:<br />
            April 20th, 2017 at 3:21 pm</p>
          <p>@Eric Pfeiffer Apples and oranges. This is not only an investment for yield. Capital growth is also an objective.</p>
        </div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Anonymous</a> Says:<br />
            April 20th, 2017 at 2:17 pm</p>
          <p>Still, if there would be a 20% drop in the stock market — the definition of a bear market — how would you react? If you have a strong stomach and sleep soundly even during times of turmoil, as you continue to pour money into the market through regular contributions to an employer-sponsored retirement account, there may be nothing to worry about. But if seeing the value of your investments plunge is painful for you, a low-volatility approach is something to consider</p>
        </div>
      </div>
      <div class="article">
        <h2><span>Leave a</span> Reply</h2>
        <div class="clr"></div>
        <form action="#" method="post" id="leavereply">
          <ol>
            <li>
              <label for="name">Name (required)</label>
              <input id="name" name="name" class="text" />
            </li>
   
            <li>
              <label for="message">Your Message</label>
              <textarea id="message" name="message" rows="8" cols="50"></textarea>
            </li>
            <li>
              <p><button type="button" onclick=DO WHATEVER!!!!!!> Submit </button></p> 
              <div class="clr"></div>
            </li>
          </ol>
        </form>
      </div>
    </div>
    <div class="sidebar">
      <div class="gadget">
        
          <div class="clr"></div>

            <form method="get" action="http://www.google.com/search">
    <input type="text"   name="q" size="25" maxlength="255" value="" />
  </br>
  
    <input type="submit" value="Search Web" />
    </form>
          
          <div class="clr"></div>
        
      </div>
     
      <div class="gadget">
        <h2 class="star"><span>Also Trending</span></h2>
        <div class="clr"></div>
    <marquee behavior=scroll direction = "down" onmouseover = "this.stop();" onmouseout = "this.start();" scrollamount = "5">
        <ul class="ex_menu">
          <li><a href="{% url 'news8' %}">Data Clash Heats Up Between Banks and New York Stock Exchange</a><br />
            Wall Street Journal</li>
          <li><a href="{% url 'news7' %}">Charting the Market</a><br />
            BARRON'S</li>
          <li><a href="{% url 'news6' %}">The Muni Market Turns Toward Washington</a><br />
           New York Times</li>
          <li><a href="{% url 'news5' %}">Tesla’s Market Surge Has Even Fans Looking for Feet of Clay</a><br />
            New York Times</li>
          <li class="active"><a href="{% url 'news4' %}">What Fiancial Markets can teach us about managing Climate Risks</a><br />
           New York Times</li>
          <li><a href="{% url 'news3' %}">Profiting From the Stock Market’s Latest Fears </a><br />
            CNN</li>
      <li><a href="{% url 'news2' %}">Red flags going up across markets, signal possible pullback for stocks</a><br />
            CNBC</li>
      <li><a href="{% url 'news1' %}">Volatility is on the move in the stock market </a><br />
            Market Watch</li>
      <li><a href="{% url 'news' %}">This dividend stock ETF can help you make money by avoiding losses </a><br />
            Market Watch</li>
        </ul>
    </marquee>
      </div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="{% static 'realtime/img/image2.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image3.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image4.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image5.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image6.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image7.jpg' %}" width="58" height="58" alt="" /></a> </div>
      
      <div class="col c3" style="width:620px">
        <h2><span>About Us</span></h2>
    
        The stock market can be a confusing place for the average investor. But you don't need to be a hedge-fund manager or a billionaire to beat Wall Street at its own game. 
        We seek to help the ordinary individual investor make intelligent investments by providing information that gives you an edge. 
        PredStocks uses state of the art software to predict stock prices and generate trading "Buy-Sell" signals that will help you make your decision.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
      
      <div class="clr"></div>
    </div>
  </div>
  
</body>
</html>
