
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}

<title>PredStocks</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'realtime/css/style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="realtime/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="realtime/js/script.js"></script>
<script type="text/javascript" src="realtime/js/cufon-yui.js"></script>
<script type="text/javascript" src="realtime/js/arial.js"></script>
<script type="text/javascript" src="realtime/js/cuf_run.js"></script>
</head>
<body>
<a href="{% url 'news5' %}"> </a>

    <div class="header">
    <div class="logo">
      <h1><a href="#"><span>Pred</span>Stocks<br><small>One stop solution to smart prediction !</small></a></h1>
    </div>
    <div class="menu_nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="prediction.html">Prediction</a></li>
        
        <li class="active"><a href="news.html">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="hbg"><img src="{% static 'realtime/img/header.jpeg' %}" width="970" height="366" alt="" class="fl" />
      
      
    </div>
    <div class="clr"></div>
  </div>
  <div class="content">
    <div class="mainbar">
      <div class="article">
        <h2>Tesla’s Market Surge Has Even Fans Looking for Feet of Clay</h2>
        <div class="clr"></div>
        <p>Article from <a href="#">New York Times</a> </p>
        <p>
In the past four weeks, exuberant investors have driven up the share price of Tesla, putting the upstart in the league of car companies that have been in the business for a century.

But there are others who think Tesla, for all its potential, has become an overpriced investment — and something of a risky play in the near or medium term, given the challenges of turning battery-powered cars into mass-market products.

Among the skeptics are some of Tesla’s biggest fans.

Take Dennis Pascual, a tech industry consultant in Long Beach, Calif., and owner of two Teslas — a Model S sedan and a two-seat Roadster, the first car Tesla put on the road. He is such a fan, in fact, that he has put down deposits to buy two Model 3 compacts once Tesla starts making the car later this year.

He also owns some Tesla stock, but is not about to buy more.



</p>
        
      </div>
      <div class="article">
        <h2><span></span> Comments</h2>
        <div class="clr"></div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Eric Pfeiffer</a> Says:<br />
            April 20th, 2017 at 2:17 pm</p>
          <p>Let's dissect this...
That 2.9% annualized. Subtract 2% inflation leaving a 0.9% net gain. This is
an ETF so there is a percent fee. If it is 0.9% or greater, you have a net
loss holding this. 
   Now, if you redirect your holdings managing your own holdings, substituting
utilities and telecoms with an average yield of 4.2% and no fees,  suddenly
you have a strong net positive return.
   HMMMM.</p>
        </div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Philip van Doorn</a> Says:<br />
            April 20th, 2017 at 3:21 pm</p>
          <p>@Eric Pfeiffer Apples and oranges. This is not only an investment for yield. Capital growth is also an objective.</p>
        </div>
        <div class="comment"> <a href="#"><img src="{% static 'realtime/img/search.gif' %}" width="40" height="40" alt="" class="search" /></a>
          <p><a href="#">Anonymous</a> Says:<br />
            April 20th, 2017 at 2:17 pm</p>
          <p>Still, if there would be a 20% drop in the stock market — the definition of a bear market — how would you react? If you have a strong stomach and sleep soundly even during times of turmoil, as you continue to pour money into the market through regular contributions to an employer-sponsored retirement account, there may be nothing to worry about. But if seeing the value of your investments plunge is painful for you, a low-volatility approach is something to consider</p>
        </div>
      </div>
      <div class="article">
        <h2><span>Leave a</span> Reply</h2>
        <div class="clr"></div>
        <form action="#" method="post" id="leavereply">
          <ol>
            <li>
              <label for="name">Name (required)</label>
              <input id="name" name="name" class="text" />
            </li>
   
            <li>
              <label for="message">Your Message</label>
              <textarea id="message" name="message" rows="8" cols="50"></textarea>
            </li>
            <li>
              <p><button type="button" onclick=DO WHATEVER!!!!!!> Submit </button></p> 
              <div class="clr"></div>
            </li>
          </ol>
        </form>
      </div>
    </div>
    <div class="sidebar">
      <div class="gadget">
        
          <div class="clr"></div>

            <form method="get" action="http://www.google.com/search">
    <input type="text"   name="q" size="25" maxlength="255" value="" />
  </br>
  
    <input type="submit" value="Search Web" />
    </form>
          
          <div class="clr"></div>
        
      </div>
     
      <div class="gadget">
        <h2 class="star"><span>Also Trending</span></h2>
        <div class="clr"></div>
    <marquee behavior=scroll direction = "down" onmouseover = "this.stop();" onmouseout = "this.start();" scrollamount = "5">
        <ul class="ex_menu">
          <li><a href="{% url 'news8' %}">Data Clash Heats Up Between Banks and New York Stock Exchange</a><br />
            Wall Street Journal</li>
          <li><a href="{% url 'news7' %}">Charting the Market</a><br />
            BARRON'S</li>
          <li><a href="{% url 'news6' %}">The Muni Market Turns Toward Washington</a><br />
           New York Times</li>
          <li class="active"><a href="{% url 'news5' %}">Tesla’s Market Surge Has Even Fans Looking for Feet of Clay</a><br />
            New York Times</li>
          <li><a href="{% url 'news4' %}">What Fiancial Markets can teach us about managing Climate Risks</a><br />
           New York Times</li>
          <li><a href="{% url 'news3' %}">Profiting From the Stock Market’s Latest Fears </a><br />
            CNN</li>
      <li><a href="{% url 'news2' %}">Red flags going up across markets, signal possible pullback for stocks</a><br />
            CNBC</li>
      <li><a href="{% url 'news1' %}">Volatility is on the move in the stock market </a><br />
            Market Watch</li>
      <li><a href="{% url 'news' %}">This dividend stock ETF can help you make money by avoiding losses </a><br />
            Market Watch</li>
        </ul>
    </marquee>
      </div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Image Gallery</span></h2>
        <a href="#"><img src="{% static 'realtime/img/image2.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image3.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image4.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image5.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image6.jpg' %}" width="58" height="58" alt="" /></a> <a href="#"><img src="{% static 'realtime/img/image7.jpg' %}" width="58" height="58" alt="" /></a> </div>
      
      <div class="col c3" style="width:620px">
        <h2><span>About Us</span></h2>
    
        The stock market can be a confusing place for the average investor. But you don't need to be a hedge-fund manager or a billionaire to beat Wall Street at its own game. 
        We seek to help the ordinary individual investor make intelligent investments by providing information that gives you an edge. 
        PredStocks uses state of the art software to predict stock prices and generate trading "Buy-Sell" signals that will help you make your decision.</p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright <a href="#">MyWebSite</a>.</p>
      
      <div class="clr"></div>
    </div>
  </div>
  
</body>
</html>
