<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% load staticfiles %}


<title>PredStocks | Prediction</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="{% static 'realtime/css/style.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="realtime/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="realtime/js/script.js"></script>
<script type="text/javascript" src="realtime/js/cufon-yui.js"></script>
<script type="text/javascript" src="realtime/js/arial.js"></script>
<script type="text/javascript" src="realtime/js/cuf_run.js"></script>

</head>
<body>
<a href="{% url 'passing' %}"> </a>


    <div class="header">
    <div class="logo">
      <h1><a href="#"><span>Pred</span>Stocks<br><small>One stop solution to smart prediction !</small></a></h1>
    </div>
    <div class="menu_nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="prediction.html">Prediction</a></li>
        
        <li><a href="blog.html">News</a></li>
        <li><a href="contact.html">Contact Us</a></li>
      </ul>
    </div>
    <div class="clr"></div>
    <div class="hbg"><img src="{% static 'realtime/img/header.jpeg' %}" width="970" height="366" alt="" class="fl" />
      
      
    </div>
    <div class="clr"></div>
  </div>
<div class = "content">  
<div class="sidebar">
      <div class="gadget">
        <div class="search">
          <form method="get" id="search" action="#">
            <span>
            <input type="text" value="Search..." name="s" id="s" />
            <input name="searchsubmit" type="image" src="{% static 'realtime/img/search.gif' %}" value="Go" id="searchsubmit" class="btn"  />
			
            </span>
          </form>
          <!--/searchform -->
          <div class="clr"></div>
        </div>
      </div>
      <div class="gadget">
        <h2 class="star">Trending</h2>
		<marquee behavior="scroll" direction="down" scrollamount="5" onmouseover="this.stop()" onmouseout="this.start()"> <a href="https://quotes.wsj.com/html/">Amazon Makes the High-Performance 7-Mic Voice Processing Technology from Amazon Echo Available to Third-Party Device Ma </a> </marquee>

        <div class="clr"></div>
        
      </div>
      
</div>
 <p>
 
 
 
 
 
 
 
 
 </p>
 <left><label><font size ="5"><font color = "Black">Stock Information:</label><br /></font> </left>
 <br> </br>
 <left><label><font size ="5"><font color = "Black">Stock Prediction:</label><input type="text" id="price" name="price" size="10" maxlength="10" /><br /></font> </left>
 
{% for c in pred%}
	{{ pred }}
	
{% endfor %}
  <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
 <p>
 </p>
  <p>
 </p>
 <p>
 </p>
 <p>
 </p>


	
    <div class="clr"></div>
  </div>
</div> </body>
</html>
